@import './base.css';

#app {
  /* max-width: 1024px; */
  margin: 0 auto;
  /* padding: 10rem; */
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex-d;
  }

  /* app {
    grid-template-columns: 1fr 1fr;
    display: flex-d;
    padding: 0 2rem;
  } */

  support__image{
    max-width: 61;
  }
   
}
